%main{
  box-sizing: border-box;
}



%background-color{
  background-color: #3ea9f6;
}
%heading{
  text-transform: uppercase;
  margin-top : 60px;
  
  font-size:2rem;
  color:white;
}
%flexSettingsForForm{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  
}
%inputForms{
  padding: 10px;
  border: none;
  border-radius: 5px;
 
}
%submitForms{
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 800;
  background-color:#5bd3d1;
}

%validInput{
  border: 2px solid green;
}

%unvalidInput{
  border: 2px solid red;
}

