*{
  box-sizing: border-box;
}

%background-color{
  background-color: #3ea9f6;
}
%heading{
  text-transform: uppercase;
  margin-top : 60px;
  
  font-size:2rem;
  color:white;
}
%flexSettingsForForm{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  padding-top: 50px;
}

