@import '../../../common/styles/_mainStyles';
@import '../../../common/styles/pointers';

.containerSignIn {
  @extend %flexSettingsForForm;
}

.headingSignIn {
  @extend %heading;

}

.containerFormSignIn {
  display: flex;
  flex-direction: column;
  width: 400px;
}


.inputContainer input {

  margin: 10px;

}

.inputSignIn input {
  @extend %inputForms;
  width: 100%;
}

.submit>input {
  @extend %submitForms;
}

.validInput {
  @extend %validInput;
}

.unvalidInput {
  @extend %unvalidInput;
}
.inputContainerError>span {
  position: absolute;
    color: red;
    border: 1px solid red;
    padding: 5px;
   
}

.remeberMe{
  color: white;
  margin-left: 10px;
  font-family: sans-serif;
}