@import '../../../common/styles/_mainStyles';
@import '../../../common/styles/pointers';

.containerSignIn{
  @extend %flexSettingsForForm;
}

.headingSignIn {
  @extend %heading;
 
}

.containerFormSignIn{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.inputContainer{
  margin: 10px;
}

.inputSignIn>input{
  @extend %inputForms;
  
  width:100%;
  
}
.submit>input{
  @extend %submitForms;
}