@import '../../../common/styles/_mainStyles';

.containerSignIn{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  padding-top: 50px;
}

.heading {
  @extend %heading;
}

.containerFormSignIn{
  display: flex;
  flex-direction: column;
  width: 400px;
}

.inputContainer{
  margin: 10px;
}

.inputSignIn>input{
  width:100%;
  padding: 10px;
  border: none;

  border-radius: 5px;
}
.submit>input{
  border: none;
  
  color: white;
  background-color:#5bd3d1;
}