@import '../../common/styles/_mainStyles';

* {
  box-sizing: border-box;
}

.main {
  @extend %background-color;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.imgLogo {
  padding-right: 130px;
  padding-top: 30px;
  margin-left: 40px;
}

.btn {
  margin-right: 160px;
  margin-top: 30px;
  padding: 10px;
  @extend %background-color;
  border-radius: 5px;
  border: 1px solid white;
  
  font-weight: 700;
  color: white;
}