@import '../../../common/styles/_mainStyles';

.containerSignUp{
  @extend %flexSettingsForForm;
  box-sizing: border-box;
}
.headingSignUp{
  @extend %heading;
  &__paddingModificate{
    margin-bottom: 10px;
  }
}
.paragraph{
  color: white;
  font-family: sans-serif;
}

.inputsContainer{
  width:400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inputContainer input{
  
   margin: 10px; 
  
}
.widthModifSubmitConteiner{
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
  
}
.modifForSubmit>input{
  @extend %submitForms;
  width: 100%;
  margin: 0;
  
  border-radius: 5px;
  padding:15px;
}

